.about {
  background-color: @pageColor;
}

.about__wrapper {
  padding-bottom: 49px;
}

.about__title {
  margin-top: 0;
  margin-bottom: 40px;
}

.about__benefits {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.about__benefit {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .about {
    border-bottom: 1px solid @borderColor;
  }

  .about__wrapper {
    padding-top: 17px;
    padding-bottom: 0;
  }

  .about__benefits {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about__benefit {
    width: 249px;
    min-height: 280px;
    margin-bottom: 37px;
    padding-right: 19px;

    &:nth-child(odd) {
      padding-right: 19px;
      margin-right: 134px;
    }

    &:nth-child(even) {
      width: 253px;
    }

    &:last-child {
      margin-bottom: 38px;
    }
  }
}

@media (min-width: @desktop-width) {
  .about {
    border: none;
  }

  .about__wrapper {
    padding-top: 45px;
  }

  .about__title {
    margin-bottom: 32px;
  }

  .about__benefits {
    display: grid;
    grid-template-columns: auto 247px 247px 250px;
    column-gap: 77px;
  }

  .about__benefit {
    margin: 0;

    &:nth-child(odd) {
      margin-right: 0;
    }
  }

  // .about__benefit {
  //   width: 246px;
  //   margin-bottom: 38px;
  //   padding-right: 19px;

  //   &:nth-child(odd) {
  //     margin-right: 75px;
  //   }

  //   &:nth-child(even) {
  //     width: 246px;
  //     margin-right: 75px;
  //   }

  //     &:last-child {
  //       margin-right: 0;
  //     }
  // }
}
