.additions__header {
  padding-top: 25px;
  padding-bottom: 36px;
}

.additions__title {
  .oswaldRegular;
  font-size: 24px;
  line-height: 24px;
  color: @titleColor;
}

.additions__wrapper {
  display: flex;
  flex-direction: column;
}

.additions__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: @desktop-width) {
  .additions__wrapper {
    flex-direction: row;
  }

  .additions__list {
    padding: 0;
    flex-grow: 1;
  }
}
