.button {
  .oswaldRegular;
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.button--main {
  color: @pageColor;
  background-color: @accentColor;
}
