.category {
  padding: 21px 30px 18px 22px;
  background-color: @basicBg;
}

.category__title {
  .oswaldRegular;
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @titleColor;
}

.category__description {
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 22px;
}

.category__link {
  .oswaldRegular;
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @titleColor;
  text-decoration: none;
}

@media(min-width: @tablet-width) {
  .category {
    padding: 53px;
    padding-top: 77px;
  }

  .category__title {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  .category__description {
    width: 340px;
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
  }

  .category__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media(min-width: @desktop-width) {
  .category {
    padding: 77px 51px 53px 52px;
  }

  .category__title {
    text-align: center;
    margin-bottom: 73px;
  }

  .category__description {
    width: 100%;
    margin-bottom: 23px;
  }
}
