.contacts {
  background-color: @pageColor;

  &--page {
    background-color: @basicBg;
  }
}

.contacts__inner {
  width: 320px;
  margin: 0 auto;
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

.contacts__iframe {
  width: 100%;
}

.contacts__slogan {
  .oswaldRegular;
  width: 140px;
  flex: none;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: @titleColor;
}

.contacts__address {
  width: 140px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: @textColor;
}

@media (min-width: @tablet-width) {
  .contacts__inner {
    width: @tablet-width;
    margin: 0 auto;
    padding: 56px 70px;
    padding-top: 60px;
  }

  .contacts__slogan {
    width: 210px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__address {
    width: 210px;
    min-height: 80px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__container {
    position: relative;
  }

  .contacts__inner {
    position: absolute;
    width: 565px;
    height: 198px;
    top: 95px;
    left: 110px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: @pageColor;
  }
}
