.logo {
  display: block;
}

.logo__name {
  display: block;

  &--top {
    position: relative;
    left: 55%;
    top: -25px;
    transform: translateX(-50%);
  }
}

.logo__image {
  display: block;
  object-fit: contain;
}

.logo__common {
  display: none;
}

@media(min-width: @tablet-width) {
  // .logo {
  //   width: 174px;
  //   height: 51px;
  // }

  .logo__image,
  .logo__name--top {
    display: none;
  }

  .logo__common {
    display: block;
    width: 174px;
    height: 52px;
  }
}

@media(min-width: @desktop-width) {
  .logo {
    min-width: 202px;
    height: 59px;
  }

  .logo__common {
    width: 202px;
    height: 59px;
  }
}
