.results {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: @basicBg;
}

.results__title {
  margin-top: 0;
  margin-bottom: 40px;
}

.results__text {
  margin-top: 0;
  margin-bottom: 20px;
}

.results__stats {
  margin-top: 0;
  margin-bottom: 20px;
}

.results__resume {
  .oswaldRegular;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  // text-align: center;
  text-transform: uppercase;
  color: @titleColor;
}
