.section-header__title {
  .oswaldRegular;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  color: @titleColor;
}

.section-header__subtitle {
  .oswaldRegular;
  margin-top: 37px;
  margin-bottom: 0;
  text-transform: uppercase;
}
