.stats {
  display: flex;
  flex-wrap: wrap;
}

.stats__item {
  width: 124px;
  margin-right: 32px;
  padding-top: 14px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  &:nth-child(even) {
    margin-right: 0;
  }
}

.stats__fact {
  .oswaldRegular;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 8px;
}

.stats__description {
  margin-left: 0;
  padding: 0 14px;
}

@media (min-width: @tablet-width) {
  .stats__item {
    width: 162px;
    margin-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .stats__item {
    margin-bottom: 20px;
    margin-right: 42px;
  }
}
