@import 'fonts';
@import 'mixins';

@import 'main-header';
@import 'hero';
@import 'categories';
@import 'about';
@import 'results';
@import 'contacts';
@import 'questionary';
@import 'catalog';
@import 'additions';
@import 'footer';

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #444444;
}

.hero {
  .oswaldRegular;
}



